<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reminder_application">

    <!-- สิทธิ์สำหรับการสั่น -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- สิทธิ์สำหรับการแจ้งเตือนใน Android 13 ขึ้นไป -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Queries สำหรับการค้นหา Activity -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <!-- แอปพลิเคชัน -->
    <application
        android:label="remember_application"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Activity หลัก -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Receiver สำหรับการบูทเครื่อง -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true" 
            android:exported="false" 
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>

        <!-- Meta-data ของ Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>
